[package]
name = "neosvr-inventory-management"
version = "0.1.11"
edition = "2021"
rust-version = "1.60"
authors = [
    "KisaragiEffective <kisaragi.effective@gmail.com>",
    "kisaragi marine <kisaragi.marine@gmail.com>",
]
description = "An handy tool that is intended to help your inventory cleanup or dump."
readme = "README.md"
repository = "https://github.com/KisaragiMarine/neosvr-inventory-management"
license = "MIT OR Apache-2.0"
keywords = ["neosvr"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.68"
async-recursion = "1.0.0"
atty = "0.2.14"
base64 = "0.13.1"
chrono = { version = "0.4.23", features = ["serde"] }
clap = { version = "4.0.26", features = ["derive"] }
derive_more = "0.99.17"
email_address = "0.2.4"
fern = { version = "0.6.1", features = ["colored"] }
log = "0.4.17"
once_cell = "1.16.0"
reqwest = { version = "0.11.13", features = ["json"] }
serde = { version = "1.0.150", features = ["derive"] }
serde_json = "1.0.89"
strum = { version = "0.24.1", features = ["derive"] }
tokio = { version = "1.22.0", features = ["full"] }
url = { version = "2.3.1", features = ["serde"] }
uuid = { version = "1.2.2", features = ["v4"] }
